* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    margin-bottom: 20px;
}

.display-none {
    display: none !important;
}

.form-group {
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    font-size: 18px;
    color: #333;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 5px;
    resize: none;
}

.label {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sizing */
.w100 {
    width: 100%;
}
.w75 {
    width: 75%;
}
.w50 {
    width: 50%;
}
.w25 {
    width: 25%;
}
.w10 {
    width: 10%;
}
.w40 {
    width: 40%;
}
.w100px {
    width: 100px;
}

.h100 {
    height: 100%;
}

.hem100 {
    height: 100em;
}

/* button */
.button {
    border: 1px solid lightgray;
    font-size: 17px;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #555;
}

.button.button-purple {
    border-color: rgb(124, 41, 145);
    background-color: rgb(171, 38, 204);
    color: white;
    transition: color 0.2s, background-color 0.5s;
}

.button.button-out-purple {
    border-color: rgb(124, 41, 145);
    background-color: white;
    color: rgb(124, 41, 145);
    transition: color 0.2s, background-color 0.5s;
}

.button.button-out-purple:hover {
    color: white;
    background-color: rgb(124, 41, 145);
}

.button.button-limon{
    background: lightgreen;
    border-color: teal;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}


/* card */
.card {
    background-color: white;
    /* background-color: rgb(47, 46, 59); */
    /* box-shadow: 1px 1px 10px rgba(211, 211, 211, 0.7); */
    box-shadow: 1px 1px 10px rgba(100, 100, 100, 0.2);
    /* box-shadow: 1px 1px 10px rgba(143, 0, 253, 0.7); */
    border-radius: 10px;
}

.card-header {
    border-bottom: 1px solid lightgray;
    padding: 15px 20px;
    border-radius: inherit;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card-body{
    padding: 20px;
}

.card-footer {
    border-top: 1px solid lightgray;
    padding: 15px 20px;
}


/* Modals */
div.modal {
    position: absolute;
    min-height: 100vh;
    padding: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

div.modal.modal-black {
    background-color: rgba(0, 0, 0, 0.5);
}

div.modal.modal-transparent {
    background-color: rgba(0, 0, 0, 0);
}

div.modal.modal-center{
    align-items: center;
}

div.modal.modal-top-center{
    padding-top: 25vh;
    padding-bottom: 25vh;
}

div.modal.modal-blur {
    backdrop-filter: blur(5px);
}

div.modal div.modal-content{
    max-width: 600px;
    width: 100%;
}

div#modal-loading{
    text-align: center;
}

div.modal div.modal-content.small-modal-content{
    max-width: 400px;
}

div.modal div.modal-content.large-modal-content{
    max-width: 600px;
}

@media screen and (max-width:768px) {
    div.modal div.modal-content{
        max-width: 100%;
    }
    div.modal div.modal-content.large-modal-content{
        max-width: 100%;
    }
}


.border {
    border: 1px solid lightgray;
}
.border-none {
    border: none;
}

/* Color */
.bg-red {
    background: #F32013;
}
.bg-purple {
    background: rgb(171, 38, 204);
}
.bg-pink {
    background: pink;
}
.border-red {
    border-color: red;
}
.text-white {
    color: white;
}

/* Flexbox */
.display-flex {
    display: flex;
}
.display-flex.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-space-between {
    justify-content: space-between;
}


/* Spacing */
.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.mr-5 {
    margin-right: 5px;
}

/* Checkbox */
.checkbox-input input[type="checkbox"] {
    display: none;
}
.checkbox-input {
    display: inline-flex;
    align-items: center;
}

.checkbox {
    border: 2px solid lightgray;
    padding: 2px;
    height: 31px;
    display: inline-flex;
    width: 50px;
    cursor: pointer;
    border-radius: 50px;
    transition: justify-content, background 0.3s;
    position: relative;
    color: #888;
}

.checkbox.checked {
    justify-content: flex-end;
}

.checkbox.checkbox-green.checked {
    justify-content: flex-end;
    background-color: lawngreen;
    color: green;
    border-color: green;
}

.checkbox.checkbox-purple.checked {
    justify-content: flex-end;
    background-color: rgb(189, 16, 233);
    color: rgb(189, 16, 233);
    border-color: rgb(124, 41, 145);
}

.checkbox span.checkbox-slider {
    border: 1px solid gray;
    display: flex;
    position: absolute;
    left: 2px;
    height: 23px;
    width: 23px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #ccc, #fff, #ccc);
    transition: color 0.3s, left 0.3s;
}

.checkbox.checked span.checkbox-slider {
    left: calc(100% - 25px);
}

.div-tabs .tab{
   display: none;
}

.div-tabs .tab.active{
    display: block;
}